  <div class="content">
          <div class="container-fluid">
              <div class="col-md-12">
                      <div class="card">
                          <form method="get" action="/" class="form-horizontal" #newprojectsForm="ngForm" (ngSubmit)='onNewprojects(newprojectsForm.value)'   novalidate>
                              <div class="card-header card-header-text">
                                  <h4 class="card-title">Add new projects</h4>
                              </div>
                              <div class="card-content">
                                   <div class="row">
                                      <label class="col-sm-2 label-on-left">Project Name</label>
                                      <div class="col-sm-10">
                                          <div class="form-group label-floating is-empty">
                                              <label class="control-label"></label>
                                              <select class="form-control" name="appname" #appname="ngModel"
                                               required ngModel>
                                                  <option value="appname" disabled>appname</option>
                                                  <option value="appname 1">appname 1</option>
                                                  <option value="appname 2">appname 2</option>
                                                  <option value="appname 3">appname 3</option>
                                              </select>
                                              <div *ngIf="appname.errors && appname.touched" class="alert text-danger">
                                                    <div [hidden]="!appname.errors.required">
                                                        select appname
                                                    </div>
                                                </div>
                                          <span class="material-input"></span>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <label class="col-sm-2 label-on-left">Client</label>
                                      <div class="col-sm-10">
                                          <div class="form-group label-floating is-empty">
                                              <label class="control-label"></label>
                                              <select class="form-control" name="client" #client="ngModel" required ngModel>
                                                  <option value="clients" disabled>clients</option>
                                                  <option value="client 1">client 1</option>
                                                  <option value="client 2">client 2</option>
                                                  <option value="client 3">client 3</option>
                                              </select>
                                              <div *ngIf="client.errors && client.touched" class="alert text-danger">
                                                    <div [hidden]="!client.errors.required">
                                                        select Clients
                                                    </div>
                                                </div>
                                          <span class="material-input"></span></div>
                                      </div>
                                  </div>
                                  <div class="row">
                                        <label class="col-sm-2 label-on-left"><p>or add client below</p></label>
                                        <div class="col-sm-10">
                                            <div class="form-group label-floating is-empty">
                                                <label class="control-label"></label>                                           
                                                <input type="text" class="form-control" value="" name="client" 
                                                #client="ngModel" required ngModel>
                                                <div *ngIf="client.errors && client.touched" class="alert text-danger">
                                                      <div [hidden]="!client.errors.required">
                                                           Add New Client
                                                      </div>
                                                  </div>
                                            <span class="material-input"></span></div>
                                        </div>
                                    </div>
                                  <div class="row">
                                      <label class="col-sm-2 label-on-left">Time Limit</label>
                                      <div class="col-sm-10">
                                          <div class="form-group label-floating is-empty">
                                              <label class="control-label"></label>
                                              <input type="text" class="form-control" value="" name="timelimit" #timelimit="ngModel"
                                               required ngModel>
                                              <div *ngIf="timelimit.errors && timelimit.touched" class="alert text-danger">
                                                    <div [hidden]="!timelimit.errors.required">
                                                        write Time
                                                    </div>
                                                </div>
                                          <span class="material-input"></span></div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <label class="col-sm-2 label-on-left">Start Date</label>
                                      <div class="col-sm-10">
                                          <div class="form-group">
                                              <input type="text" class="form-control datepicker" value="10/05/2016" name="startdate" #startdate="ngModel" required ngModel>
                                              <div *ngIf="startdate.errors && startdate.touched" class="alert text-danger">
                                                    <div [hidden]="!startdate.errors.required">
                                                        select start date
                                                    </div>
                                                </div>
                                              <span class="material-input"></span>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <label class="col-sm-2 label-on-left">Description</label>
                                      <div class="col-sm-10">
                                          <div class="form-group label-floating is-empty">
                                              <label class="control-label"></label>
                                              <input type="text-area" rows="10" cols="40" class="form-control" name="description" #description="ngModel" required ngModel>
                                              <div *ngIf="description.errors && description.touched" class="alert text-danger">
                                                    <div [hidden]="!description.errors.required">
                                                        write Description
                                                    </div>
                                                </div>
                                          <span class="material-input"></span></div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-4 col-md-offset-1">
                                          <!-- <a routerLink="/landing/projects"> -->
                                            <input type="submit" value="CREATE"  class="btn btn-primary" [disabled]="!newprojectsForm.form.valid"  data-toggle="modal">
                                                <div class="ripple-container"></div>
                                            
                                        <!-- </a>                                         -->
                                      </div>
                                      <div class="col-md-4 col-md-offset-1">
                                        <a routerLink="/landing/projects"> 
                                            <button class="btn btn-primary">Cancel
                                                <div class="ripple-container"></div>
                                            </button>
                                        </a>
                                      </div>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
          </div>
      </div>