<div class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                    <div class="card">
                        <form #statusUpdateForm="ngForm" (ngSubmit)="onUpdate(statusUpdateForm.value)" method="get" action="/" class="form-horizontal">
                            <div class="card-header card-header-text">
                                <h4 class="card-title">Status</h4>
                            </div>
                            <div class="card-content">
                                <div class="row">
                                    <label class="col-sm-2 label-on-left">Project Name</label>
                                    <div class="col-sm-10">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <select name="appname" required ngModel>
                                                  <option value="" disabled>select project</option>
                                                <option *ngFor="let project of projects">{{project.appname}}</option>
                                            </select>
                                            <!-- <input type="text" class="form-control" value=""> -->
                                            <span class="help-block">A block of help text that breaks onto a new line.</span>
                                        <span class="material-input"></span></div>
                                    </div>
                                </div>
                                <div class="row">
                                  <label class="col-sm-2 label-on-left">Client</label>
                                  <div class="col-sm-10">
                                      <div class="form-group label-floating is-empty">
                                          <label class="control-label"></label>
                                          <select name="client" required ngModel>
                                              <option value="" disabled>select client</option>
                                              <option *ngFor="let project of projects">{{project.client}}</option>
                                          </select>
                                          <!-- <input type="text" class="form-control" value=""> -->
                                          <span class="help-block">A block of help text that breaks onto a new line.</span>
                                      <span class="material-input"></span></div>
                                  </div>
                              </div>
                                <div class="row">
                                    <label class="col-sm-2 label-on-left">Date</label>
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            <input type="text" name="date" class="form-control datetimepicker" value="" required ngModel>
                                            <span class="material-input"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-2 label-on-left">Status</label>
                                    <div class="col-sm-10">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="text" name="appstatus" class="form-control" required ngModel>
                                        <span class="material-input"></span></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-2 label-on-left">Comments</label>
                                    <div class="col-sm-10">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="text" name="comment" class="form-control" required ngModel>
                                        <span class="material-input"></span></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-1">
                                        <input [disabled]="!statusUpdateForm.form.valid" type="submit" value="Update" class="btn btn-primary">
                                        <div class="ripple-container"></div>
                                    </div>
                                    <div class="col-md-4 col-md-offset-1">
                                        <button class="btn btn-primary">Cancel<div class="ripple-container"></div></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>