<div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                    <div class="card card-signup">
                        <form class="form" method="" action="" #changeForm="ngForm" (ngSubmit)='onChangepass(changeForm.value)'   novalidate >
                            <h4 class="card-title text-center">Change password</h4>
                            <div class="card-content">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">lock_outline</i>
                                    </span>
                                    <div class="form-group is-empty">
                                        <input type="password" placeholder="Current Password..." class="form-control"
                                         name="Currentpassword" #CurrentPassword="ngModel" minlength="6" required  ngModel>
                                        <div *ngIf="CurrentPassword.errors && (CurrentPassword.touched|| CurrentPassword.dirty)" class="alert text-danger">
                                                <div [hidden]="!CurrentPassword.errors.required">
                                                    required valid CurrentPassword
                                                  </div>
                                                  <div [hidden]="!CurrentPassword.errors.minlength">
                                                      Please enter minimum 6 char
                                                  </div>
                                            </div>
                                        <span class="material-input"></span>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">lock_outline</i>
                                    </span>
                                    <div class="form-group is-empty">
                                        <input type="password" placeholder="New Password..." class="form-control" 
                                        name="Newpassword" #NewPassword="ngModel" minlength="6" required  ngModel>
                                        <div *ngIf="NewPassword.errors && (NewPassword.touched|| NewPassword.dirty)" class="alert text-danger">
                                                <div [hidden]="!NewPassword.errors.required">
                                                    required valid NewPassword
                                                  </div>
                                                  <div [hidden]="!NewPassword.errors.minlength">
                                                      Please enter minimum 6 char
                                                  </div>
                                            </div>
                                        <span class="material-input"></span>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">lock_outline</i>
                                    </span>
                                    <div class="form-group is-empty">
                                        <input type="password" placeholder="Confirm New Password..." class="form-control"
                                        name="Confirmpassword" #ConfirmPassword="ngModel" minlength="6" required  ngModel>
                                        <div *ngIf="ConfirmPassword.errors && (ConfirmPassword.touched|| ConfirmPassword.dirty)" class="alert text-danger">
                                                <div [hidden]="!ConfirmPassword.errors.required">
                                                    required valid ConfirmPassword
                                                  </div>
                                                  <div [hidden]="!ConfirmPassword.errors.minlength">
                                                      Please enter minimum 6 char
                                                  </div>
                                            </div>
                                        <span class="material-input"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="footer text-center">
                                <!-- <a routerlink="/dashboard"style="float:none;"  class="btn btn-primary btn-round">Submit</a> -->
                                <button style="float:none;"  class="btn btn-primary btn-round" [disabled]="!changeForm.form.valid" type="submit" data-toggle="modal" data-target="#changeModal"> SUBMIT</button>
                            </div>                                   
                        </form>                             
                    </div>                      
                </div>
            </div>
        </div>
    </div>