 <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                    <div class="card card-signup">
                        <form class="form" method="" action="" #changeForm="ngForm" (ngSubmit)='onChangepass(changeForm.value)'   novalidate >
                            <h4 class="card-title text-center">Change password</h4>
                            <div class="card-content">
                                    <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                                            <div class="form-group is-empty">
                                                <input type="email" class="form-control" placeholder="Email" name="email" [ngModel]="user.email" 
                                                  required  #email="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
                                                <div [hidden]="email.valid || (email.pristine && email.untouched)" class="text-danger">
                                                  Email is required and format should be <i>john@doe.com</i>.
                                                </div>
                                                <!--<pre *ngIf="email.errors" class="margin-20">{{ email.errors | json }}</pre>-->
                                              
                                                <span class="material-input"></span>
                                            
                                        </div>
                                    </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">lock_outline</i>
                                    </span>
                                    <div class="form-group is-empty">
                                        <input type="password" placeholder="Current Password..." class="form-control"
                                         name="currentPassword" #currentPassword="ngModel" minlength="6" required  ngModel>
                                        <div *ngIf="currentPassword.errors && (currentPassword.touched|| currentPassword.dirty)" class="alert text-danger">
                                                <div [hidden]="!currentPassword.errors.required">
                                                 please enter currentPassword
                                                  </div>
                                                  <div [hidden]="!currentPassword.errors.minlength">
                                                      Please enter minimum 6 char
                                                  </div>
                                            </div>
                                        <span class="material-input"></span>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">lock_outline</i>
                                    </span>
                                    <div class="form-group is-empty">                                        
                                        <input type="password" class="form-control" placeholder="Password" name="password" [ngModel]="user.password" 
                                          required validateEqual="Password" reverse="true" #password="ngModel">
                                        <div [hidden]="password.valid || (password.pristine && password.untouched)" class="text-danger">
                                          Password is required
                                        </div>
                                        <!--<pre *ngIf="password.errors" class="margin-20">{{ password.errors | json }}</pre>-->
                                      
                                        <span class="material-input"></span>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">lock_outline</i>
                                    </span>
                                    <div class="form-group">                                        
                                        <input type="password" class="form-control" placeholder="ConfirmPassword" name="confirmPassword" [ngModel]="user.confirmPassword" 
                                          required validateEqual="password" reverse="false" #confirmPassword="ngModel">
                                        <div [hidden]="confirmPassword.valid || (confirmPassword.pristine && confirmPassword.untouched )" class="text-danger">
                                          Password mismatch
                                        </div>
                                        <!--<pre *ngIf="confirmPassword.errors" class="margin-20">{{ confirmPassword.errors | json }}</pre>-->
                                     
                                        <span class="material-input"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="footer text-center">
                              <!--    <a routerlink="/dashboard"style="float:none;"  class="btn btn-primary btn-round">Submit</a> -->
                                 <button style="float:none;"  class="btn btn-primary btn-round" [disabled]="!changeForm.form.valid" type="submit" data-toggle="modal" data-target="#changeModal"> SUBMIT</button>
                                <!-- <button type="submit" class="btn btn-default">Submit</button>  -->
                            </div>                                   
                        </form>                             
                    </div>                      
                </div>
            </div>
        </div>
    </div> 

    <!-- <div class="container">
  <h1>Add user</h1>
  <form #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid)">
    <div class="form-group">
      <label for="">Username</label>
      <input type="text" class="form-control" name="username" [ngModel]="user.username" 
        required minlength="5" maxlength="8" #username="ngModel">
      <small [hidden]="username.valid || (username.pristine && !f.submitted)" class="text-danger">
        Username is required (minimum 5 characters).
      </small>
      <!--<pre *ngIf="username.errors" class="margin-20">{{ username.errors | json }}</pre>
    </div>
    <div class="form-group">
      <label for="">Email</label>
      <input type="email" class="form-control" name="email" [ngModel]="user.email" 
        required  #email="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
      <small [hidden]="email.valid || (email.pristine && !f.submitted)" class="text-danger">
        Email is required and format should be <i>john@doe.com</i>.
      </small>
      <!--<pre *ngIf="email.errors" class="margin-20">{{ email.errors | json }}</pre>
    </div>
    <div class="form-group">
      <label for="">Password</label>
      <input type="password" class="form-control" name="password" [ngModel]="user.password" 
        required validateEqual="confirmPassword" reverse="true" #password="ngModel">
      <small [hidden]="password.valid || (password.pristine && !f.submitted)" class="text-danger">
        Password is required
      </small>
      <!--<pre *ngIf="password.errors" class="margin-20">{{ password.errors | json }}</pre>
    </div>
    <div class="form-group">
      <label for="">Retype password</label>
      <input type="password" class="form-control" name="confirmPassword" [ngModel]="user.confirmPassword" 
        required validateEqual="password" reverse="false" #confirmPassword="ngModel">
      <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)" class="text-danger">
        Password mismatch
      </small>
      <!--<pre *ngIf="confirmPassword.errors" class="margin-20">{{ confirmPassword.errors | json }}</pre>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <div class="margin-20" *ngIf="f">
        <div>Form details:-</div>
        <pre>Is form valid?: <br>{{f.valid | json}}</pre>
        <pre>Is form submitted?: <br>{{f.submitted | json}}</pre>
        <pre>submitted value: <br>{{f.value | json}}</pre>
      </div>
  </form>
</div> -->