<div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                    <form method="#" action="#">
                        <div class="card card-login">
                            <h4 class="category text-center">
                                ADD USER
                            </h4>
                            <div class="card-content">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">face</i>
                            </span>
                            <div class="form-group is-empty"><input type="text" class="form-control" placeholder="User Name..."><span class="material-input"></span></div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">email</i>
                            </span>
                            <div class="form-group is-empty"><input type="text" class="form-control" placeholder="Email..."><span class="material-input"></span></div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">lock_outline</i>
                            </span>
                            <div class="form-group is-empty"><input type="password" placeholder="Password..." class="form-control"><span class="material-input"></span></div>
                        </div>
                    </div>                                   
                        <div class="row pull">
                            <div class="col-md-6">
                                <a routerLink="/user" class="btn btn-primary btn-simple">CREATE<div class="ripple-container"></div></a>
                            </div>
                            <div class="col-md-6">
                                <a routerLink="/user" class="btn btn-primary btn-simple">CANCEL<div class="ripple-container"></div></a>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>