<div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                    <form #addUserForm="ngForm" (ngSubmit)='addUser(addUserForm.value)' method="#" action="#">
                        <div class="card card-login">
                            <h4 class="category text-center">
                                ADD USER
                            </h4>
                            <div class="card-content">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">face</i>
                            </span>
                            <div class="form-group is-empty"><input type="text" name="username" class="form-control" placeholder="User Name..." required ngModel><span class="material-input"></span></div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">email</i>
                            </span>
                            <div class="form-group is-empty"><input type="email" name="email" class="form-control" placeholder="Email..." required ngModel><span class="material-input"></span></div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">lock_outline</i>
                            </span>
                            <div class="form-group is-empty"><input type="password" name="password" placeholder="Password..." class="form-control" required ngModel><span class="material-input"></span></div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">account_circle</i>
                            </span>
                            <div class="form-group label-floating is-empty">
                                <label class="control-label">Role</label>
                                <input type="text" class="form-control" name="role" minlength="4" maxlength="4" required  ngModel>
                                <!-- <div *ngIf="role.errors && (role.touched|| role.dirty)" class="alert text-danger">
                                    <div [hidden]="!role.errors.required">
                                        required valid role
                                      </div>
                                      <div [hidden]="!Password.errors.minlength">
                                          Please enter minimum 4 char
                                      </div>
                                </div> -->
                            <span class="material-input"></span></div>
                        </div>
                    </div>                                   
                        <div class="row pull">
                            <div class="col-md-6">
                                <input class="btn btn-primary btn-simple" type="submit" [disabled]="!addUserForm.form.valid" value="CREATE">
                                <div class="ripple-container"></div>
                            </div>
                            <div class="col-md-6">
                                <a routerLink="/user" class="btn btn-primary btn-simple">CANCEL<div class="ripple-container"></div></a>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>