<div class="off-canvas-sidebar">
  <div class="wrapper wrapper-full-page">
          <div class="full-page login-page" filter-color="black">
              <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
              <div class="content">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                              <form class="form" method="" action="" #forgotForm="ngForm" (ngSubmit)='onForgot(forgotForm.value)'   novalidate>
                                  <div class="card card-login">
                                      <h4 class="category text-center">
                                          FORGOT PASSWORD
                                      </h4>
                                      <div class="card-content">
                                          <div class="input-group">
                                              <span class="input-group-addon">
                                                  <i class="material-icons">email</i>
                                              </span>
                                              <div class="form-group label-floating is-empty">
                                                  <label class="control-label">Email address</label>
                                                  <input type="email" class="form-control"  name="email" #Email="ngModel"  
                                                  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required ngModel>
                                                      <div *ngIf="Email.errors && (Email.touched|| Email.dirty)" class="alert text-danger">
                                                          <div [hidden]="!Email.errors.required">
                                                              required valid email
                                                          </div>
                                                          <div [hidden]="!Email.errors.pattern">
                                                                Please enter valid email
                                                          </div>                                                      
                                                      </div>
                                                      <span class="material-input"></span>
                                              </div>
                                          </div>
                                      </div>                                            
                                      <div class="row">
                                          <div class="col-md-6 text-center">
                                              <a routerLink="/login">                                        
                                                  <button class="btn btn-secondary btn-simple" [disabled]="!forgotForm.form.valid" type="submit" data-toggle="modal" data-target="#forgotModal"> SUBMIT</button>
                                              </a>
                                          <div class="ripple-container"></div>
                                          </div>
                                          <div class="col-md-6">
                                              <a routerLink="/login" class="btn btn-secondary btn-simple">CANCEL<div class="ripple-container"></div></a>
                                          </div>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
              <footer class="footer">
                  <div class="container">
                      <p class="copyright pull-right">
                          ©
                          <script>
                              document.write(new Date().getFullYear())
                          </script>2018
                          <a href="http://www.Triodesk.com"> Trio Desk </a>, made with love for a better web
                      </p>
                  </div>
              </footer>
          </div>
      </div>
  
</div>